* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  font-family: "Lobster", cursive;
  font-size: 70px;
  font-weight: 700;
}

span {
  color: red;
}

.container {
  background-color: #302e2e;
  margin: 30px 100px;
  border-radius: 20px;
}

img {
  border-radius: 40px;
  margin: 16px;
  box-shadow: 5px 5px 500px 0px red;
  width: 400px;
}

.container figcaption {
  margin: 16px;
}

.info {
  text-align: justify;
  margin: 20px 74px;
  font-size: 24px;
}

h3 {
  font-family: "Lobster", cursive;
  color: red;
  margin: 10%;
  text-align: left;
}
ul {
  text-align: left;
  list-style-position: inside;
  margin: 20px 70px;
  font-size: 24px;
  line-break: 16px;
}

.footer {
  font-size: 32px;
  margin: 32px 0;
  padding: 32px;
}

.footer a {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 16px;
  border: 1px solid darkorange;
  border-radius: 10px;
}

.footer a:hover {
    color:red;
    background-color: #302e2e;
}